
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 150px / 2);
  left: calc(50% - 150px / 2);
}

.example-container .drag-area {
  opacity: 0.9;
  background: white;
  position: absolute;
  width: 800px;
  height: 100px;
  border-radius: 30px;
  left: calc(50% - 400px);
}

.example-container .drag-item {
  width: 700px;
  height: 100px;
}
.example-container .drag-item ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.example-container .drag-item ul li {
  border-radius: 15px;
  color:white;
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
  padding: 10px;
  display: block;
  margin-right: 30px;
}